:root {
  --clr-background: #f7f7f7;
  --clr-home-font-1: #295264;
  --clr-home-heading-1: #010d1d;
  --clr-home-item-background-1: #ebebeb;

  --clr-home-item-background-2: #d4b8b5;
  --clr-home-item-foreground-2: #bd746c;

  --clr-home-heading-2: #130000;
  --clr-home-font-2: #7c2c2c;

  --clr-home-btn: #ac7a63;
  --clr-home-btn-font: #ffebeb;
  --clr-home-btn-hover: #b6937e;
  --clr-home-btn-font-hover: #111111;

  --clr-home-hero-image-bg: #e2cbc7;

  --clr-footer-background: #2c2c2c;
  --clr-footer-text: #96594e;

  --clr-furniture-1: #eaded7;
  --clr-furniture-2: #c5a491;
  --clr-furniture-3: #fff;
  --clr-furniture-4: #453227;
  --clr-furniture-5: #795744;
  --clr-furniture-6: #5f4435;

  --clr-newsletter-1: #617d98;

  --clr-featured-backgraound: #b7c4c7;

  --maximum-height: 1100px;
  --radius: 0.25rem;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--clr-background);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.nav-header {
  margin: 0.5rem 2rem;
}
.nav-header img {
  width: 250px;
  height: 50px;
}
.nav-links {
  display: flex;
  list-style-type: none;
}
.nav-link-items {
  margin: 0 1rem;
  letter-spacing: 2px;
}
.link {
  text-decoration: none;
  color: #324d67;
  padding: 0.5rem 0;
}
.link:hover {
  border-bottom: 2px solid #c5a491;
}
.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.nav-cart {
  display: flex;
  margin: 0 1rem;
}
.nav-cart span {
  margin-left: 5px;
}
.nav-login {
  display: flex;
  margin: 0 1rem;
}
.nav-login span {
  margin-left: 5px;
}
/* End of Navbar */

/* Hero Section */
main {
  width: 100%;
  height: auto;
}

.horizontal-container {
  display: grid;
  height: calc(100vh - 5rem);
  min-height: 60vh;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 0 auto;
  place-items: center;
}

.first-container {
  background-color: var(--clr-background);
}
.text-section {
  padding-left: 15%;
}

.text-section p {
  text-align: justify;
  color: var(--clr-home-font-1);
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin-bottom: 2.75rem;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.text-section .btn {
  display: inline-block;
  background-color: var(--clr-home-btn);
  color: var(--clr-home-btn-font);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--radius);
}
.text-section .btn:hover {
  background-color: var(--clr-home-btn-hover);
  color: var(--clr-home-btn-font-hover);
  transition-duration: 0.5s;
}
.text-section h3 {
  letter-spacing: 0.1rem;
  line-height: 1rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--clr-home-heading-1);
}
.hero-images::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 80%;
  background-color: var(--clr-home-hero-image-bg);
  bottom: 0%;
  left: 0%;
  transform: translateX(-100%);
  border-radius: var(--radius);
}

.hero-images {
  display: block;
  position: relative;
}

.hero-images .img-main {
  width: 100%;
  height: 550px;
  position: relative;
  border-radius: var(--radius);
  display: block;
  object-fit: cover;
}

.hero-images .img-secondary {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 250px;
  transform: translateX(-50%);
  border-radius: var(--radius);
}
/* End of Hero Section */

/* Featured */
.featured {
  background-color: #f1f5f8;
}
.featured .section-center {
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 10rem;
}
.featured-items {
  display: inline-block;
  margin: 5rem 0;
  padding: 0 2rem;
}
.featured h1 {
  color: var(--clr-home-heading-1);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background-color: var(--clr-home-item-foreground-2);
  margin: 0 auto;
}
.ftImage {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}
.ftInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}
.featured .btn {
  display: inline-block;
  background-color: var(--clr-home-btn);
  color: var(--clr-home-btn-font);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--radius);
  transition: all 0.3s linear;
}
.featured .btn:hover {
  background-color: var(--clr-home-btn-hover);
  color: var(--clr-home-btn-font-hover);
}

/* End of Featured */

/* Furniture */
.furniture {
  background-color: var(--clr-furniture-1);
}
.section-center {
  transform: translateY(5rem);
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
}
.section-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-header h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--clr-furniture-4);
}
.section-header p {
  font-size: 1rem;
  color: var(--clr-furniture-5);
  line-height: 1.8;
}
.services-center {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 2.5rem;
}
.service {
  background-color: var(--clr-furniture-2);
  text-align: center;
  padding: 2.5rem;
  border-radius: 5px;
}
.service-icon {
  height: 4rem;
  width: 4rem;
  place-items: center;
  background-color: var(--clr-furniture-3);
  border-radius: 50%;
  display: grid;
  margin: 0 auto 1rem;
}
.icon {
  font-size: 2rem;
}
.service h4 {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--clr-furniture-4);
}
.service p {
  line-height: 1.8;
  color: var(--clr-furniture-6);
}
/* End of Furniture */

/* Newsletter */
.newsletter {
  padding: 15rem 0;
}
.newsletter-center {
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
}
.newsletter-center h2 {
  margin-bottom: 3rem;
  color: var(--clr-home-heading-1);
  letter-spacing: 0.1rem;
}
.newsletter-center p {
  line-height: 1.8;
  color: var(--clr-newsletter-1);
}
.newsletter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  align-items: center;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
}
.newsletter-form input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.newsletter-form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid black;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  letter-spacing: 0.2rem;
  background-color: var(--clr-footer-text);
  transition: all 0.3s linear;
  cursor: pointer;
}
.newsletter-form button:hover {
  color: var(--clr-furniture-3);
}

/* End of Newsletter */
/* Footer */
.footer {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--clr-footer-background);
  letter-spacing: 0.1rem;
  color: var(--clr-furniture-3);
}
.footer span {
  color: var(--clr-footer-text);
}
/* End of Footer */
