* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-furniture-1: #eaded7;
  --clr-furniture-2: #c5a491;
  --clr-furniture-3: #fff;
}
/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  top: 0;
  position: sticky;
  z-index: 999;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.nav-header {
  margin: 0.5rem 2rem;
}
.nav-header img {
  width: 250px;
  height: 50px;
}
.nav-links {
  display: flex;
  list-style-type: none;
}
.nav-link-items {
  margin: 0 1rem;
  letter-spacing: 2px;
}
.link {
  text-decoration: none;
  color: #324d67;
  padding: 0.5rem 0;
}
.link:hover {
  border-bottom: 2px solid #c5a491;
}
.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.nav-cart {
  display: flex;
  margin: 0 1rem;
}
.nav-cart span {
  margin-left: 5px;
}
.nav-login {
  display: flex;
  margin: 0 1rem;
}
.nav-login span {
  margin-left: 5px;
}
/* End of Navbar */

/* Furniture */
.furniture {
  background-color: var(--clr-furniture-1);
}
.section-center {
  transform: translateY(5rem);
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
}
.section-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-header h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.section-header p {
  font-size: 1rem;
}
.services-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.service {
  background-color: var(--clr-furniture-2);
  text-align: center;
  padding: 2.5rem;
  border-radius: 5px;
}
.service-icon {
  height: 4rem;
  width: 4rem;
  place-items: center;
  background-color: var(--clr-furniture-3);
  border-radius: 50%;
  display: grid;
  margin: 0 auto 1rem;
}
.icon {
  font-size: 2rem;
}
.service h4 {
  padding: 1rem 0;
  font-size: 1.5rem;
}
.service p {
  line-height: 1.8;
}
/* End of Furniture */

/* Newsletter */

/* End of Newsletter */
